@import	url('https://fonts.google.com/specimen/Baloo+Paaji+2?sidebar.open&selection.family=Baloo+Paaji+2:wght@600');
*
{
	margin: 0;
	padding : 0;
	box-sizing: border-box;
	font-family: 'Baloo Paaji 2', sans-serif;
}


.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
// LOADING 
// ---------
.loading{
  position:absolute;
  left:50%;
  top:50%;
  margin:-35px 0 0 -56px;
  .size(112px, 70px);
  .c;

  .finger{
    float:left;
    margin:0 2px 0 0;
    .size(20px, 100%);
  }
  .finger-1{
    .animation(finger-1-animation, 2s, infinite, ease-out);

    span{
      .animation(finger-1-animation-span, 2s, infinite, ease-out);
    }
    i{
      .animation(finger-1-animation-i, 2s, infinite, ease-out);
    }
  }
  .finger-2{
    .animation(finger-2-animation, 2s, infinite, ease-out);
    
    span{
      .animation(finger-2-animation-span, 2s, infinite, ease-out);
    }
    i{
      .animation(finger-2-animation-i, 2s, infinite, ease-out);
    }
  }
  .finger-3{
    .animation(finger-3-animation, 2s, infinite, ease-out);

    span{
      .animation(finger-3-animation-span, 2s, infinite, ease-out);
    }
    i{
      .animation(finger-3-animation-i, 2s, infinite, ease-out);
    }
  }
  .finger-4{
    .animation(finger-4-animation, 2s, infinite, ease-out);

    span{
      .animation(finger-4-animation-span, 2s, infinite, ease-out);
    }
    i{
      .animation(finger-4-animation-i, 2s, infinite, ease-out);
    }
  }
  .finger-item{
    position:relative;
    .square(100%);
    .border-radius(6px 6px 8px 8px);
    background:#fff;
    
    span{
      position:absolute;
      left:0;
      top:0;
      .size(100%, auto);
      padding:5px 5px 0 5px;

      &:before,
      &:after{
        content:'';
        position:relative;
        display:block;
        margin:0 0 2px 0;
        .size(100%, 2px);
        background:#4492f4;
      }
    }
    i{
      position:absolute;
      left:3px;
      bottom:3px;
      .size(14px, 14px);
      .border-radius(10px 10px 7px 7px);
      background:#4492f4;
    }
  }
  .last-finger{
    position:relative;
    float:left;
    .size(24px, 100%);
    overflow:hidden;
  }
  .last-finger-item{
    position:absolute;
    right:0;
    top:32px;
    .size(110%, 20px);
    .border-radius(0 5px 14px 0);
    background:#fff;
    .animation(finger-5-animation, 2s, infinite, linear);

    i{
      position:absolute;
      left:0;
      top:-8px;
      .size(22px, 8px);
      background:#fff;
      overflow:hidden;

      &:after{
        content:'';
        position:absolute;
        left:0;
        bottom:0;
        .size(34px, 20px);
        .border-radius(0 0 15px 15px);
        background:#4492f4;
      }
    }
  }
}


// ANIMATION
// ---------
@keyframes finger-1-animation {
  0%   {padding:12px 0 5px 0;}
  20%  {padding:12px 0 5px 0;}
  29%  {padding:4px 0 24px 0;}
  35%  {padding:4px 0 24px 0;}
  41%  {padding:12px 0 5px 0;}
  100% {padding:12px 0 5px 0;}
}
@keyframes finger-1-animation-span {
  0%   {top:0;}
  20%  {top:0;}
  29%  {top:-7px;}
  35%  {top:-7px;}
  41%  {top:0;}
  100% {top:0;}
}
@keyframes finger-1-animation-i {
  0%   {bottom:3px;height:14px;.border-radius(10px 10px 7px 7px);}
  20%  {bottom:3px;height:14px;.border-radius(10px 10px 7px 7px);}
  29%  {bottom:8px;height:12px;.border-radius(7px 7px 4px 4px);}
  35%  {bottom:8px;height:12px;.border-radius(7px 7px 4px 4px);}
  41%  {bottom:3px;height:14px;.border-radius(10px 10px 7px 7px);}
  100% {bottom:3px;height:14px;.border-radius(10px 10px 7px 7px);}
}

@keyframes finger-2-animation {
  0%   {padding:6px 0 2px 0;}
  24%  {padding:6px 0 2px 0;}
  33%  {padding:2px 0 16px 0;}
  39%  {padding:2px 0 16px 0;}
  45%  {padding:6px 0 2px 0;}
  100% {padding:6px 0 2px 0;}
}
@keyframes finger-2-animation-span {
  0%   {top:0;}
  24%  {top:0;}
  33%  {top:-7px;}
  39%  {top:-7px;}
  45%  {top:0;}
  100% {top:0;}
}
@keyframes finger-2-animation-i {
  0%   {bottom:3px;height:14px;.border-radius(10px 10px 7px 7px);}
  24%  {bottom:3px;height:14px;.border-radius(10px 10px 7px 7px);}
  33%  {bottom:8px;height:12px;.border-radius(7px 7px 4px 4px);}
  39%  {bottom:8px;height:12px;.border-radius(7px 7px 4px 4px);}
  45%  {bottom:3px;height:14px;.border-radius(10px 10px 7px 7px);}
  100% {bottom:3px;height:14px;.border-radius(10px 10px 7px 7px);}
}

@keyframes finger-3-animation {
  0%   {padding:0 0 0 0;}
  28%  {padding:0 0 0 0;}
  37%  {padding:0 0 12px 0;}
  43%  {padding:0 0 12px 0;}
  49%  {padding:0 0 0 0;}
  100% {padding:0 0 0 0;}
}
@keyframes finger-3-animation-span {
  0%   {top:0;}
  28%  {top:0;}
  37%  {top:-7px;}
  43%  {top:-7px;}
  49%  {top:0;}
  100% {top:0;}
}
@keyframes finger-3-animation-i {
  0%   {bottom:3px;height:14px;.border-radius(10px 10px 7px 7px);}
  28%  {bottom:3px;height:14px;.border-radius(10px 10px 7px 7px);}
  37%  {bottom:8px;height:12px;.border-radius(7px 7px 4px 4px);}
  43%  {bottom:8px;height:12px;.border-radius(7px 7px 4px 4px);}
  49%  {bottom:3px;height:14px;.border-radius(10px 10px 7px 7px);}
  100% {bottom:3px;height:14px;.border-radius(10px 10px 7px 7px);}
}

@keyframes finger-4-animation {
  0%   {padding:8px 0 3px 0;}
  32%  {padding:8px 0 3px 0;}
  41%  {padding:4px 0 20px 0;}
  47%  {padding:4px 0 20px 0;}
  53%  {padding:8px 0 3px 0;}
  100% {padding:8px 0 3px 0;}
}
@keyframes finger-4-animation-span {
  0%   {top:0;}
  32%  {top:0;}
  41%  {top:-7px;}
  47%  {top:-7px;}
  53%  {top:0;}
  100% {top:0;}
}
@keyframes finger-4-animation-i {
  0%   {bottom:3px;height:14px;.border-radius(10px 10px 7px 7px);}
  32%  {bottom:3px;height:14px;.border-radius(10px 10px 7px 7px);}
  41%  {bottom:8px;height:12px;.border-radius(7px 7px 4px 4px);}
  47%  {bottom:8px;height:12px;.border-radius(7px 7px 4px 4px);}
  53%  {bottom:3px;height:14px;.border-radius(10px 10px 7px 7px);}
  100% {bottom:3px;height:14px;.border-radius(10px 10px 7px 7px);}
}

@keyframes finger-5-animation {
  0%   {top:32px;right:0;.border-radius(0 5px 14px 0);.rotate(0deg);}
  34%  {top:32px;right:0;.border-radius(0 5px 14px 0);.rotate(0deg);}
  43%  {top:20px;right:2px;.border-radius(0 8px 20px 0);.rotate(-12deg);}
  50%  {top:20px;right:2px;.border-radius(0 8px 20px 0);.rotate(-12deg);}
  60%  {top:32px;right:0;.border-radius(0 5px 14px 0);.rotate(0deg);}
  100% {top:32px;right:0;.border-radius(0 5px 14px 0);.rotate(0deg);}
}


// CREDITS



// BODY
// ---------
*{
  -webkit-box-sizing: border-box;
   -khtml-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
          box-sizing: border-box;
}
body{

  background:#4492f4;
}


// MIXINS
// ---------
.c() {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
  }
  &:after {
    clear: both;
  }
}
.size(@width: 5px, @height: 5px) {
  width: @width;
  height: @height;
}
.square(@size: 5px) {
  .size(@size, @size);
}




h1{
	position: absolute; top: 20%;left: 10%; color : #40c3ff; font-size: 2.5em;
}
.containe {
  width: 100%;
  height: 100vh;
  line-height: 1.6;
  /* CSS Smooth Scroll */
  overflow-y: scroll; 
  scroll-behavior: smooth;
  scroll-snap-type: y ;
}
::-webkit-scrollbar
{
	width: 0;
}

header{
	position: fixed;
	top: 0;
	left: 0;
	width:100%;
	display: flex;
	justify-content: space-between;
	padding: 40px 100px;
	z-index: 10000;
	transition: 0.6s; 
}
header .logo{
	position: relative;
	font-weight: 700;
	color: #fff;
	text-decoration: none;
	font-size: 2.5em;
	text-transform: uppercase;
	letter-spacing: 2px;
	transition: 0.6s;
}
header	#toggle{
	position: relative;
	width: 30px;
	height: 30px;
	cursor: pointer;
	transition: 0.7s;
}
header	#toggle::before{
	content: '';
	position: absolute;
	top: 7px;
	width: 100%;
	height: 2px;
	background: #fff;
}
header	#toggle::after{
	content: '';
	position: absolute;
	bottom:  7px;
	width: 100%;
	height: 2px;
	background: #fff;
}
header a.logo{
	text-shadow: 0 0 10px #2196ff , 0 0 20px #2196ff ,0 0 40px #2196ff ,0 0 80px #2196ff ;
}
header a.logo:hover{
	text-shadow: 0 0 10px #24FE41 , 0 0 20px #24FE41 ,0 0 40px #24FE41 ,0 0 80px #24FE41 ;
}

.chreta.active::before{
	top: 25%;
	left: 25%;
	transform: translate(-50%,-50%) rotate(45deg);
}
.chreta.active::after{
	top: 25%;
	left: 25%;
	transform: translate(-50%,-50%) rotate(-45deg);
}
section {
	position: relative;
	width: 100%;
	min-height: 100vh;
	padding:100px;
	background: url('../img/robot.jpg');  
	background-size: cover;
	display: flex;
	align-items: center;
	transition: 0.5s;
	z-index: 2;
	scroll-snap-align: center;
}
.home.active , .chreta.active {
	transform: translateX(-400px);
}
#navigation{
	position: fixed;
	top: 0;
	right :-200px ;
	width: 400px;
	height: 100vh;
	background: #0F2027;
	z-index: 1;
	display: grid;
	place-items	: center;
	transition: 0.5s;

}
#navigation.active{
	right: 0;
}
#navigation ul
{
  position: relative;
}
#navigation ul li
{
  list-style: none;
  text-align: center;
}
#navigation ul li a
{
  color: #fff;
  text-decoration: none;
  font-size: 3em;
  padding: 5px 20px;
  display: inline-flex;
  font-weight: 700;
  transition: 0.5s;
}
#navigation ul:hover li a
{
  color: #0002;
}
#navigation ul li:hover a
{
  color: #000;
  background: rgba(255,255,255,1);

}
#navigation ul li a:before
{
  content: '';
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%,-50%) rotate(90deg);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4em;
  color: rgba(0,0,0,.1);
  border-radius: 50%;
  z-index: -1;
  opacity: 0;
  font-weight: 1000;
  filter: blur(2px);
  text-transform: uppercase;
  letter-spacing: 500px;
  transition: letter-spacing 0.5s,left 0.5s;
}
#navigation ul li a:hover:before
{
  content: attr(data-text);
  opacity: 1;
  left: 50%;
  letter-spacing: 10px;
  width: 1800px;
  height: 1800px;
}
#navigation ul li:nth-child(6n+1) a:before
{
  background-image: linear-gradient(90deg,#56CCF2 ,#2F80ED );
}
#navigation ul li:nth-child(6n+2) a:before
{
	background-image: linear-gradient(-90deg, #fc67fa ,#f4c4f3 );
}
#navigation ul li:nth-child(6n+3) a:before
{
	background-image: linear-gradient(-90deg, #FF5F6D ,#FFC371 );
}
#navigation ul li:nth-child(6n+4) a:before
{
	background-image: linear-gradient(90deg, #38ef7d ,#11998e );
}
#navigation ul li:nth-child(6n+5) a:before
{
	background-image: linear-gradient(90deg, #DA22FF, #9733EE);
}

.content{
	z-index: 3;
	max-width: 800px;
}
.content h2{
	color: #fff;
	font-size: 2.5em;
}
.content h2 span{
	color : #40c3ff;
	font-size: 1.2em;
}
.content p,.conten p {
	font-size : 1.2em;
	color :#fff;
	font-weight: 300;
}


@media(max-width: 767px)
{
	header{
		padding: 20px 50px;
	}
	.home{
		padding: 100px 50px 150px;
	}
	header .logo{
		font-size: 1.5em;
	}
	.home .content p ,
	.home .content a
	{
		font-size: 1em;
	}
	.home.active ,.chreta.active
	{
		transform: translateX(-250px);
	}
	#navigation 
	{
		width: 250px;
	}
	#navigation ul li a
	{
		font-size: 1.5em;
		margin: 5px 0 ;
	}
	.object {
		min-height: 299;
		width: 60%;
		height: 35%;
 		animation: MoveUpDown 3s ease-in-out infinite ;
 		position: absolute;
 		right: 5%;
		bottom: 15%;
		opacity: 20%;
	}
	h2{
		font-size: 1.5em
	}
	h1{
	position: absolute; top: 10%;left: 5%; color : #40c3ff; font-size: 1.5em;
	}

}


section#Cours{
	background: black;
  	z-index: 2;
}


section#team{
	background: black;
  	z-index: 2;
}
section#about {
  background: url('../img/courseeeeee.png') no-repeat center center/cover;
  	z-index: 2;
}

section#contact {
  background:black;
  	z-index: 2;
}




.container
{
	position: relative;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.container .box
{
	position: relative;
	width: 280px;
	height: 400px;
	margin: 20px 0;
	box-sizing: border-box;
	overflow: hidden;
}
.container .box .imgBx
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	clip-path: circle(400px at center 100px);
	transition: 0.5s;
	transition-delay: 0.5s;
	box-shadow: 0 0 10px #2196ff,0 0 40px #2196ff,0 0 80px #2196ff;
}
.container .box:hover .imgBx
{
	clip-path: circle(80px at center 100px);
	transition-delay: 0s;

}
.container .box .imgBx img
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;

}
.container .box .conten
{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 55%;
	padding: 20px;
	box-sizing: border-box;
	text-align: center;

}
.container .box .conten h2
{
	color: #fff;
	margin: 0;
	padding: 0;
}
.container .box .conten a
{
	text-decoration: none;
	background: #fff;
	color: #fff;
	font-size: 1em;
	padding: 5px;
	display: inline-block;
}
.container .box .conten h2,
.container .box .conten p,
.container .box .conten a
{
	opacity: 0;
	transition: 0.5s;
	transform: translateY(20px);
}
.container .box:hover .conten h2
{
	opacity: 1;
	transform: translateY(0);
	transition-delay: 0.5s
}
.container .box:hover .conten p
{
	opacity: 1;
	transform: translateY(0);
	transition-delay: 0.7s
}
.container .box:hover .conten a
{
	opacity: 1;
	transform: translateY(0);
	transition-delay: 0.9s
}

div .object{
	content: url('../img/robot.png');
}
.object {
  min-height: 299;
  min-width: 272;
  animation: MoveUpDown 3s ease-in-out infinite ;
  position: absolute;
  right: 10%;
  bottom: 25%;

}

@keyframes MoveUpDown {
  0%, 100% {
  	right: 10%;
    bottom: 25%;
  }
  50% {
    right: 10%;
    bottom: 15%;
  }
}




.grouper {
  width: 100%;
  padding:20px;
}
.grouper h2{
  width: 100%;
  color: #45f3ff;
  font-size: 36px 
}
.grouper .row100{
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
} 
.grouper .row100 .col {
  position: relative;
  width: 100%;
  padding: 0 10px;
  margin: 30px 0 10px;
  transition: 0.5s
}
.grouper .row100 .inputBox {
  position: relative;
  width: 100%;
  height: 40px;
  color: #45f3ff;
}

.grouper .row100 .inputBox input,
.grouper .row100 .inputBox.textarea textarea{
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  box-shadow: none;
  border: none;
  outline: none;
  font-size: 18px;
  padding: 0 10px;
  z-index: 1;
  color: #000;
}
.grouper .row100 .inputBox .text{
  position: absolute;
  top: 0;
  left: 0;
  line-height: 40px;
  font-size: 18px;
  padding: 0 10px;
  display: block;
  transition: 0.5s;
  pointer-events: none; 
}
.grouper .row100 .inputBox input:focus + .text, 
.grouper .row100 .inputBox input:valid + .text,
.grouper .row100 .inputBox input:focus + .email, 
.grouper .row100 .inputBox input:valid + .email,
.grouper .row100 .inputBox textarea:focus + .text, 
.grouper .row100 .inputBox textarea:valid + .text{
 top: -35px;
 left: -10px;
}
.grouper .row100 .inputBox .line{
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 2px;
  background: #54f3ff;
  transition: 0.5s;
  border-radius: 2px;
  pointer-events: none;
}
.grouper .row100 .inputBox input:focus ~ .line, 
.grouper .row100 .inputBox input:valid ~ .line,
.grouper .row100 .inputBox textarea:focus ~ .line, 
.grouper .row100 .inputBox textarea:valid ~ .line{
  height: 100%;
}
.grouper .row100 .inputBox.textarea{
  position: relative;
  width: 100%;
  height: 100px;
  padding: 10px 0;
}
.grouper .row100 .inputBox.textarea textarea{
  height: 100%;
  resize: none;
}
input[type="submit"]{
  border: none;
  padding: 7px 35px;
  cursor: pointer;
  outline: none;
  background: #45f3ff;
  color: #000;
  font-size: 18px;
  border-radius: 2px;
}
div .sendico{
  position: absolute;
  max-width: 25px;
  max-height: 25px;
  content: url('../img/send.png');
  z-index: 5;
  left: 14px;
  top: 5px;
}
