@import	url('https://fonts.google.com/specimen/Baloo+Paaji+2?sidebar.open&selection.family=Baloo+Paaji+2:wght@600');
*
{
	margin: 0;
	padding : 0;
	box-sizing: border-box;
	font-family: 'Baloo Paaji 2', sans-serif;
}
$black: #fff;
$white: #000;

@mixin pseudo ($content: '') {
  position: absolute;
  content: $content;
}


.concharger {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
  background: $white;
  overflow: hidden;
}

#concharger{
  position: relative;
  transform: scale(0.715);
}

.divider {
  position: absolute;
  z-index: 2;
  top: 65px;
  left: 200px;
  width: 50px;
  height: 15px;
  background: $white;
}

.loading-text {
  position: relative;
  font-size: 3.75rem;
  font-weight: 300;
  margin: 0;
  white-space: nowrap;
  &::before {
    // For dot
    @include pseudo;
    z-index: 1;
    top: 40px;
    left: 115px;
    width: 6px;
    height: 6px;
    background: $black;
    border-radius: 50%;
    animation: dotMove 1800ms cubic-bezier(0.25,0.25,0.75,0.75) infinite;
  }
  .letter {
    display: inline-block;
    position: relative;
    color: $black;
    letter-spacing: 5px;
    &:nth-child(1) {
      // For the letter "L"
      transform-origin: 100% 70%;
      transform: scale(1, 1.275);
      &::before {
        @include pseudo;
        top: 20px;
        left: 0;
        width: 15px;
        height: 40px;
        background: $white;
        transform-origin: 100% 0;
        animation: lineStretch 1800ms cubic-bezier(0.25,0.25,0.75,0.75) infinite;
      }
    }
    &:nth-child(5) {
      // For the letter "i"
      transform-origin: 100% 70%;
      animation: letterStretch 1800ms cubic-bezier(0.25,0.23,0.73,0.75) infinite;
      &::before {
        @include pseudo;
        top: 15px;
        left: 2px;
        width: 9px;
        height: 15px;
        background: $white;
      }
    }
  }
}

// For the dot
@keyframes dotMove {
	0%, 100% {
    transform: rotate(180deg) translate(-110px, -10px) rotate(-180deg);
	}
	50% {
    transform: rotate(0deg) translate(-111px, 10px) rotate(0deg);
	}
}

// For the letter "i"
@keyframes letterStretch {
  0%, 100% {
    transform: scale(1, 0.35);
    transform-origin: 100% 75%;
  }
  8%, 28% {
    transform: scale(1, 2.125);
    transform-origin: 100% 67%;
  }
  37% {
    transform: scale(1, 0.875);
    transform-origin: 100% 75%;
  }
  46% {
    transform: scale(1, 1.03);
    transform-origin: 100% 75%;
  }
  50%, 97% {
    transform: scale(1);
    transform-origin: 100% 75%;
  }
}

// For the letter "L"
@keyframes lineStretch {
  0%, 45%, 70%, 100% {
    transform: scaleY(0.125);
  }
  49% {
    transform: scaleY(0.75);
  }
  50% {
    transform: scaleY(0.875);
  }
  53% {
    transform: scaleY(0.5);
  }
  60% {
    transform: scaleY(0);
  }
  68% {
    transform: scaleY(0.18);
  }
}

@media(min-width: 48rem) {
  #concharger {
    transform: scale(0.725rem);
  }
}

@media(min-width: 62rem) {
  #concharger {
    transform: scale(0.85);
  }
}
//hide when load finish
.concharger.hidden {
    animation: fadeOut 1s;
    animation-fill-mode: forwards;
}

@keyframes fadeOut {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}





h1{
	position: absolute; top: 20%;left: 10%; color : #40c3ff; font-size: 2.5em;
}
.containe {
  width: 100%;
  height: 100vh;
  line-height: 1.6;
  /* CSS Smooth Scroll */
  overflow-y: scroll; 
  scroll-behavior: smooth;
  scroll-snap-type: y ;
}
::-webkit-scrollbar
{
	width: 0;
}

header{
	position: fixed;
	top: 0;
	left: 0;
	width:100%;
	display: flex;
	justify-content: space-between;
	padding: 40px 100px;
	z-index: 10000;
	transition: 0.6s; 
}
header .logo{
	position: relative;
	font-weight: 700;
	color: #fff;
	text-decoration: none;
	font-size: 2.5em;
	text-transform: uppercase;
	letter-spacing: 2px;
	transition: 0.6s;
}
header	#toggle{
	position: relative;
	width: 30px;
	height: 30px;
	cursor: pointer;
	transition: 0.7s;
}
header	#toggle::before{
	content: '';
	position: absolute;
	top: 7px;
	width: 100%;
	height: 2px;
	background: #fff;
}
header	#toggle::after{
	content: '';
	position: absolute;
	bottom:  7px;
	width: 100%;
	height: 2px;
	background: #fff;
}
header a.logo{
	text-shadow: 0 0 10px #2196ff , 0 0 20px #2196ff ,0 0 40px #2196ff ,0 0 80px #2196ff ;
}
header a.logo:hover{
	text-shadow: 0 0 10px #24FE41 , 0 0 20px #24FE41 ,0 0 40px #24FE41 ,0 0 80px #24FE41 ;
}

.chreta.active::before{
	top: 25%;
	left: 25%;
	transform: translate(-50%,-50%) rotate(45deg);
}
.chreta.active::after{
	top: 25%;
	left: 25%;
	transform: translate(-50%,-50%) rotate(-45deg);
}
section {
	position: relative;
	width: 100%;
	min-height: 100vh;
	padding:100px;
	background: url('../img/robot.jpg');  
	background-size: cover;
	display: flex;
	align-items: center;
	transition: 0.5s;
	z-index: 2;
	scroll-snap-align: center;
}
.home.active , .chreta.active {
	transform: translateX(-400px);
}
#navigation{
	position: fixed;
	top: 0;
	right :-200px ;
	width: 400px;
	height: 100vh;
	background: #0F2027;
	z-index: 1;
	display: grid;
	place-items	: center;
	transition: 0.5s;

}
#navigation.active{
	right: 0;
}
#navigation ul
{
  position: relative;
}
#navigation ul li
{
  list-style: none;
  text-align: center;
}
#navigation ul li a
{
  color: #fff;
  text-decoration: none;
  font-size: 3em;
  padding: 5px 20px;
  display: inline-flex;
  font-weight: 700;
  transition: 0.5s;
}
#navigation ul:hover li a
{
  color: #0002;
}
#navigation ul li:hover a
{
  color: #000;
  background: rgba(255,255,255,1);

}
#navigation ul li a:before
{
  content: '';
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%,-50%) rotate(90deg);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4em;
  color: rgba(0,0,0,.1);
  border-radius: 50%;
  z-index: -1;
  opacity: 0;
  font-weight: 1000;
  filter: blur(2px);
  text-transform: uppercase;
  letter-spacing: 500px;
  transition: letter-spacing 0.5s,left 0.5s;
}
#navigation ul li a:hover:before
{
  content: attr(data-text);
  opacity: 1;
  left: 50%;
  letter-spacing: 10px;
  width: 1800px;
  height: 1800px;
}
#navigation ul li:nth-child(6n+1) a:before
{
  background-image: linear-gradient(90deg,#56CCF2 ,#2F80ED );
}
#navigation ul li:nth-child(6n+2) a:before
{
	background-image: linear-gradient(-90deg, #fc67fa ,#f4c4f3 );
}
#navigation ul li:nth-child(6n+3) a:before
{
	background-image: linear-gradient(-90deg, #FF5F6D ,#FFC371 );
}
#navigation ul li:nth-child(6n+4) a:before
{
	background-image: linear-gradient(90deg, #38ef7d ,#11998e );
}
#navigation ul li:nth-child(6n+5) a:before
{
	background-image: linear-gradient(90deg, #DA22FF, #9733EE);
}

.content{
	z-index: 3;
	max-width: 800px;
}
.content h2{
	color: #fff;
	font-size: 2.5em;
}
.content h2 span{
	color : #40c3ff;
	font-size: 1.2em;
}
.content p,.conten p {
	font-size : 1.2em;
	color :#fff;
	font-weight: 300;
}


@media(max-width: 767px)
{
	header{
		padding: 20px 50px;
	}
	.home{
		padding: 100px 50px 150px;
	}
	header .logo{
		font-size: 1.5em;
	}
	.home .content p ,
	.home .content a
	{
		font-size: 1em;
	}
	.home.active ,.chreta.active
	{
		transform: translateX(-250px);
	}
	#navigation 
	{
		width: 250px;
	}
	#navigation ul li a
	{
		font-size: 1.5em;
		margin: 5px 0 ;
	}
	.object {
		min-height: 299;
		width: 60%;
		height: 35%;
 		animation: MoveUpDown 3s ease-in-out infinite ;
 		position: absolute;
 		right: 5%;
		bottom: 15%;
		opacity: 20%;
	}
	h2{
		font-size: 1.5em
	}
	h1{
	position: absolute; top: 10%;left: 5%; color : #40c3ff; font-size: 1.5em;
	}

}


section#Cours{
	background: black;
  	z-index: 2;
}


section#team{
	background: black;
  	z-index: 2;
}
section#about {
  background: url('../img/courseeeeee.png') no-repeat center center/cover;
  	z-index: 2;
}

section#contact {
  background:black;
  	z-index: 2;
}




.container
{
	position: relative;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.container .box
{
	position: relative;
	width: 280px;
	height: 400px;
	margin: 20px 0;
	box-sizing: border-box;
	overflow: hidden;
}
.container .box .imgBx
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	clip-path: circle(400px at center 100px);
	transition: 0.5s;
	transition-delay: 0.5s;
	box-shadow: 0 0 10px #2196ff,0 0 40px #2196ff,0 0 80px #2196ff;
}
.container .box:hover .imgBx
{
	clip-path: circle(80px at center 100px);
	transition-delay: 0s;

}
.container .box .imgBx img
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;

}
.container .box .conten
{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 55%;
	padding: 20px;
	box-sizing: border-box;
	text-align: center;

}
.container .box .conten h2
{
	color: #fff;
	margin: 0;
	padding: 0;
}
.container .box .conten a
{
	text-decoration: none;
	background: #fff;
	color: #fff;
	font-size: 1em;
	padding: 5px;
	display: inline-block;
}
.container .box .conten h2,
.container .box .conten p,
.container .box .conten a
{
	opacity: 0;
	transition: 0.5s;
	transform: translateY(20px);
}
.container .box:hover .conten h2
{
	opacity: 1;
	transform: translateY(0);
	transition-delay: 0.5s
}
.container .box:hover .conten p
{
	opacity: 1;
	transform: translateY(0);
	transition-delay: 0.7s
}
.container .box:hover .conten a
{
	opacity: 1;
	transform: translateY(0);
	transition-delay: 0.9s
}

div .object{
	content: url('../img/robot.png');
}
.object {
  min-height: 299;
  min-width: 272;
  animation: MoveUpDown 3s ease-in-out infinite ;
  position: absolute;
  right: 10%;
  bottom: 25%;

}

@keyframes MoveUpDown {
  0%, 100% {
  	right: 10%;
    bottom: 25%;
  }
  50% {
    right: 10%;
    bottom: 15%;
  }
}




.grouper {
  width: 100%;
  padding:20px;
}
.grouper h2{
  width: 100%;
  color: #45f3ff;
  font-size: 36px 
}
.grouper .row100{
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
} 
.grouper .row100 .col {
  position: relative;
  width: 100%;
  padding: 0 10px;
  margin: 30px 0 10px;
  transition: 0.5s
}
.grouper .row100 .inputBox {
  position: relative;
  width: 100%;
  height: 40px;
  color: #45f3ff;
}

.grouper .row100 .inputBox input,
.grouper .row100 .inputBox.textarea textarea{
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  box-shadow: none;
  border: none;
  outline: none;
  font-size: 18px;
  padding: 0 10px;
  z-index: 1;
  color: #000;
}
.grouper .row100 .inputBox .text{
  position: absolute;
  top: 0;
  left: 0;
  line-height: 40px;
  font-size: 18px;
  padding: 0 10px;
  display: block;
  transition: 0.5s;
  pointer-events: none; 
}
.grouper .row100 .inputBox input:focus + .text, 
.grouper .row100 .inputBox input:valid + .text,
.grouper .row100 .inputBox input:focus + .email, 
.grouper .row100 .inputBox input:valid + .email{
 top: -35px;
 left: -10px;
}
.grouper .row100 .inputBox .line{
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 2px;
  background: #54f3ff;
  transition: 0.5s;
  border-radius: 2px;
  pointer-events: none;
}
.grouper .row100 .inputBox input:focus ~ .line, 
.grouper .row100 .inputBox input:valid ~ .line{
  height: 100%;
}
.grouper .row100 .inputBox.textarea{
  position: relative;
  width: 100%;
  height: 100px;
  padding: 10px 0;
}
.grouper .row100 .inputBox.textarea textarea{
  height: 100%;
  resize: none;
}
.grouper .row100 .inputBox textarea:focus + .text, 
.grouper .row100 .inputBox textarea:valid + .text{
 top: -35px;
 left: -10px;
}
.grouper .row100 .inputBox textarea:focus ~ .line, 
.grouper .row100 .inputBox textarea:valid ~ .line{
  height: 100%;
}
input[type="submit"]{
  border: none;
  padding: 7px 35px;
  cursor: pointer;
  outline: none;
  background: #45f3ff;
  color: #000;
  font-size: 18px;
  border-radius: 2px;
}
div .sendico{
  position: absolute;
  max-width: 25px;
  max-height: 25px;
  content: url('../img/send.png');
  z-index: 5;
  left: 14px;
  top: 5px;
}

