@import	url('https://fonts.google.com/specimen/Baloo+Paaji+2?sidebar.open&selection.family=Baloo+Paaji+2:wght@600');
*
{
	margin: 0;
	padding : 0;
	box-sizing: border-box;
	font-family: 'Baloo Paaji 2', sans-serif;
}
section {
	position: relative;
	width: 100%;
	min-height: 100vh;
	padding:100px;
	background: url('../img/robot.jpg');  
	background-size: cover;
	display: flex;
	align-items: center;
	transition: 0.5s;
	z-index: 2;
	scroll-snap-align: center;
}
section#Cours{
	background: url('../img/courseeeeee.png') no-repeat center center/cover;
  	z-index: 2;
}


section#team{
	background: black;
  	z-index: 2;
}
section#about {
  background: url('../img/about.png') no-repeat center center/cover;
  	z-index: 2;
}

section#contact {
  background:black;
  	z-index: 2;
}

h1{
	position: absolute; top: 20%;left: 10%; color : #40c3ff; font-size: 2.5em;
}
.containe {
  width: 100%;
  height: 100vh;
  line-height: 1.6;
  /* CSS Smooth Scroll */
  overflow-y: scroll; 
  scroll-behavior: smooth;
  scroll-snap-type: y proximity;
}
::-webkit-scrollbar
{
	width: 0;
}

header{
	position: fixed;
	top: 0;
	left: 0;
	width:100%;
	display: flex;
	justify-content: space-between;
	padding: 40px 100px;
	z-index: 10000;
	transition: 0.6s; 
}
header .logo{
	position: relative;
	font-weight: 700;
	color: #fff;
	text-decoration: none;
	font-size: 2.5em;
	text-transform: uppercase;
	letter-spacing: 2px;
	transition: 0.6s;
}
header	#toggle{
	position: relative;
	width: 30px;
	height: 30px;
	cursor: pointer;
	transition: 0.7s;
}
header	#toggle::before{
	content: '';
	position: absolute;
	top: 7px;
	width: 100%;
	height: 2px;
	background: #fff;
}
header	#toggle::after{
	content: '';
	position: absolute;
	bottom:  7px;
	width: 100%;
	height: 2px;
	background: #fff;
}
header a.logo{
	text-shadow: 0 0 10px #2196ff , 0 0 20px #2196ff ,0 0 40px #2196ff ,0 0 80px #2196ff ;
}
header a.logo:hover{
	text-shadow: 0 0 10px #24FE41 , 0 0 20px #24FE41 ,0 0 40px #24FE41 ,0 0 80px #24FE41 ;
}

.chreta.active::before{
	top: 25%;
	left: 25%;
	transform: translate(-50%,-50%) rotate(45deg);
}
.chreta.active::after{
	top: 25%;
	left: 25%;
	transform: translate(-50%,-50%) rotate(-45deg);
}

.home.active , .chreta.active {
	transform: translateX(-400px);
}
#navigation{
	position: fixed;
	top: 0;
	right :-200px ;
	width: 400px;
	height: 100vh;
	background: #0F2027;
	z-index: 1;
	display: grid;
	place-items	: center;
	transition: 0.5s;

}
#navigation.active{
	right: 0;
}
#navigation ul
{
  position: relative;
}
#navigation ul li
{
  list-style: none;
  text-align: center;
}
#navigation ul li a
{
  color: #fff;
  text-decoration: none;
  font-size: 3em;
  padding: 5px 20px;
  display: inline-flex;
  font-weight: 700;
  transition: 0.5s;
}
#navigation ul:hover li a
{
  color: #0002;
}
#navigation ul li:hover a
{
  color: #000;
  background: rgba(255,255,255,1);

}
#navigation ul li a:before
{
  content: '';
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%,-50%) rotate(90deg);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4em;
  color: rgba(0,0,0,.1);
  border-radius: 50%;
  z-index: -1;
  opacity: 0;
  font-weight: 1000;
  filter: blur(2px);
  text-transform: uppercase;
  letter-spacing: 500px;
  transition: letter-spacing 0.5s,left 0.5s;
}
#navigation ul li a:hover:before
{
  content: attr(data-text);
  opacity: 1;
  left: 50%;
  letter-spacing: 10px;
  width: 1800px;
  height: 1800px;
}
#navigation ul li:nth-child(6n+1) a:before
{
  background-image: linear-gradient(90deg,#56CCF2 ,#2F80ED );
}
#navigation ul li:nth-child(6n+2) a:before
{
	background-image: linear-gradient(-90deg, #fc67fa ,#f4c4f3 );
}
#navigation ul li:nth-child(6n+3) a:before
{
	background-image: linear-gradient(-90deg, #FF5F6D ,#FFC371 );
}
#navigation ul li:nth-child(6n+4) a:before
{
	background-image: linear-gradient(90deg, #38ef7d ,#11998e );
}
#navigation ul li:nth-child(6n+5) a:before
{
	background-image: linear-gradient(90deg, #DA22FF, #9733EE);
}

.content{
	z-index: 3;
	max-width: 800px;
}
.content h2{
	color: #fff;
	font-size: 2.5em;
}
.content h2 span{
	color : #40c3ff;
	font-size: 1.2em;
}
.content p,.conten p {
	font-size : 1.2em;
	color :#fff;
	font-weight: 300;
}


@media(max-width: 767px)
{
	header{
		padding: 20px 50px;
	}
	.home{
		padding: 100px 50px 150px;
	}
	header .logo{
		font-size: 1.5em;
	}
	.home .content p ,
	.home .content a
	{
		font-size: 1em;
	}
	.home.active ,.chreta.active
	{
		transform: translateX(-250px);
	}
	#navigation 
	{
		width: 250px;
	}
	#navigation ul li a
	{
		font-size: 1.5em;
		margin: 5px 0 ;
	}
	.object {
		min-height: 299;
		width: 60%;
		height: 50%;
 		animation: MoveUpDown 3s ease-in-out infinite ;
 		position: absolute;
 		right: 5%;
		bottom: 15%;
		opacity: 50%;
	}
	h2{
		font-size: 1.5em
	}
	h1{
	position: absolute; top: 10%;left: 5%; color : #40c3ff; font-size: 1.5em;
	}

}










.container
{
	position: relative;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.container .box
{
	position: relative;
	width: 280px;
	height: 400px;
	margin: 20px 0;
	box-sizing: border-box;
	overflow: hidden;
}
.container .box .imgBx
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	clip-path: circle(400px at center 100px);
	transition: 0.5s;
	transition-delay: 0.5s;
	box-shadow: 0 0 10px #2196ff,0 0 40px #2196ff,0 0 80px #2196ff;
}
.container .box:hover .imgBx
{
	clip-path: circle(80px at center 100px);
	transition-delay: 0s;

}
.container .box .imgBx img
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;

}
.container .box .conten
{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 55%;
	padding: 20px;
	box-sizing: border-box;
	text-align: center;

}
.container .box .conten h2
{
	color: #fff;
	margin: 0;
	padding: 0;
}
.container .box .conten a
{
	text-decoration: none;
	background: #fff;
	color: #fff;
	font-size: 1em;
	padding: 5px;
	display: inline-block;
}
.container .box .conten h2,
.container .box .conten p,
.container .box .conten a
{
	opacity: 0;
	transition: 0.5s;
	transform: translateY(20px);
}
.container .box:hover .conten h2
{
	opacity: 1;
	transform: translateY(0);
	transition-delay: 0.5s
}
.container .box:hover .conten p
{
	opacity: 1;
	transform: translateY(0);
	transition-delay: 0.7s
}
.container .box:hover .conten a
{
	opacity: 1;
	transform: translateY(0);
	transition-delay: 0.9s
}

div .object{
	content: url('../img/robot.png');
}
.object {
  min-height: 299;
  min-width: 272;
  animation: MoveUpDown 3s ease-in-out infinite ;
  position: absolute;
  right: 10%;
  bottom: 25%;

}

@keyframes MoveUpDown {
  0%, 100% {
  	right: 10%;
    bottom: 25%;
  }
  50% {
    right: 10%;
    bottom: 15%;
  }
}
